/Guia 2/Encuentro2/JavaGuia2/nbproject/private/
/Guia 2/Encuentro2/JavaGuia2/build/
/JavaGuia3/JavaGuia3/nbproject/private/
/JavaGuia321/JavaGuia3/nbproject/private/
/JavaGuia321/nbproject/private/
/JavaGuia3/nbproject/private/
/JavaGuia3/build/
/JavaGuia3/JavaExtras3/nbproject/private/
/JavaGuia3/JavaExtras3/build/